footer
	.footer-top
		.container
			.row
				.col-sm-6
					.footer-link
						a(href="#")
							.icon-img
								img(src="./img/mail-footer.png", alt="")
							.news-footer
								p Trải nghiệm giái pháp nhân sự mà akalink mạng đến cho doanh nghiệp bạn
				.col-sm-6
					.footer-link
						.subscribe
							.subscribefrm
								input(type="text" placeholder='Nhập email của bạn')
								button Đăng ký
	.footer-block
		.container
			.row
				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card.pr-40
					.footer-logo
						.img
							img(src="./img/logo-footer.png", alt="")

				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h4 Văn phòng AKALINK
					.card__body
						ul
							li
								span
									i.ri-map-pin-2-fill
								p FPT Building, 17 Duy Tan Str., Cau Giay Dis., HaNoi, VietNam
							li
								span
									i.ri-mail-fill
								p Email: akalink@fsoft.com.vn
							li
								span
									i.ri-phone-fill
								p Tel: 0123456789

				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h4 Ứng dụng
					.card__body_2
						ul
							li
								a(href="") Văn hóa doanh nghiệp
							li
								a(href="") Daily back office operation
							li
								a(href="") Remote working

				.col-xl-3.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						h4 Liên kết nhanh
					.card__body_2
						ul
							li
								a(href="") Tính năng
							li
								a(href="") Ứng dụng
							li.contact-link
								ul.item-link
									li
										a(href="")
											i.ri-linkedin-fill
									li
										a(href="")
											i.ri-facebook-box-fill
									li
										a(href="")
											i.ri-instagram-line
									li
										a(href="")
											i.ri-youtube-fill
	.footer-copyright
		.container
			.row.copyright-wrapper
				.copy-left
					p © 2020 akalink. Thiết kế website bởi Cánh Cam
				.copy-right
					ul
						li
							a(href="") Chính sách bảo mật
						li
							a(href="") Điều khoản sử dụng