header
	.container
		.header
			.block_left
				a(href="index.html")
					.logo
						img(src="img/logo.png", alt="")
				.nav-wrapper
					ul.nav-menu
						li
							a(href="feature.html") Tính năng
						li
							a(href="application.html") Ứng dụng
						li
							a(href="news-list.html") Tin tức
			.block_right
				.block_search
					.search-icon
						i.material-icons search
					.searchbox
						input(type='text' placeholder="Tìm kiếm...")
						button
							i.material-icons search
						.btn-close
							i.ri-close-line
				.language
					a VN
					ul
						li
							a EN
				a(href="").btn-trial
					i.material-icons send
					span Dùng thử
				.moblie-toggle
					span.btn-bars.ri-menu-line
	.menu_mobile
		.moblie-toggle
			span.btn-bars.ri-close-line
		.mobile-wrapper
	.overlay