section.block_s-6
	.container
		.row
			.col-md-6.col-xl-6.df_jc-center
				.background
					.img
						img(src="./img/app/2.png", alt="")
				.block-img
					.small-img
						img(src="img/app/small-img.png", alt="")
					.medium-img
						img(src="img/app/medium-img.png", alt="")
					.big-img
						img(src="img/app/big-img.png", alt="")
			.col-md-6.col-xl-6
				.block-title
					.head-title
						h2 Ứng dụng akaLink trong doanh nghiệp
				ul.block_collapse
					li
						.collapse
							a Văn hóa doanh nghiệp
							i.ri-arrow-down-s-line
						ul.collapse-inner
							p Vì sao cần xây dựng văn hóa doanh nghiệp?
							li
								p Rau củ quả hàng ngày
							li
								p Rau củ quả hàng ngày
					li
						.collapse
							a Ghi nhận và khen thưởng
							i.ri-arrow-down-s-line
						ul.collapse-inner
							p Vì sao cần xây dựng văn hóa doanh nghiệp?
							li
								p Rau củ quả hàng ngày
							li
								p Rau củ quả hàng ngày
					li
						.collapse
							a Bài viết với các vấn đề cụ thể
							i.ri-arrow-down-s-line
						ul.collapse-inner
							p Vì sao cần xây dựng văn hóa doanh nghiệp?
							li
								p Rau củ quả hàng ngày
							li
								p Rau củ quả hàng ngày
					li
						.collapse
							a Game hóa các hoạt động cộng đồng
							i.ri-arrow-down-s-line
						ul.collapse-inner
							p Vì sao cần xây dựng văn hóa doanh nghiệp?
							li
								p Rau củ quả hàng ngày
							li
								p Rau củ quả hàng ngày