section.block_s-2
	.background
			.img
				img(src="./img/s-2/bg.png", alt="")
	.container
		.block-title
			.head-title
				h2 Xu hướng quản trị nhân sự 4.0
		.text
			p Mục tiêu, cách điều hành và phát triển nguồn nhân lực của doanh nghiệp đã có sự thay đổi mạnh mẽ dưới sự tác động của cách mạnh công nghệ 4.0
		.row.item-s-2
			.col-12.col-md-6.col-lg-3
				.card_img
					.img.zoom-in
						img(src="./img/s-2/2.png", alt="")
				.content
					.title
						a(href="") Quản trị nhân sự trên nền tảng công nghệ số
			.col-12.col-md-6.col-lg-3
				.card_img
					.img.zoom-in
						img(src="./img/s-2/3.png", alt="")
				.content
					.title
						a(href="") Loại bỏ rào cản giữa lãnh đạo và nhân viên
			.col-12.col-md-6.col-lg-3
				.card_img
					.img.zoom-in
						img(src="./img/s-2/4.png", alt="")
				.content
					.title
						a(href="") Nâng cao sự trải nghiệm nhân sự: văn hóa, sự gần kết và hơn thế nữa
			.col-12.col-md-6.col-lg-3
				.card_img
					.img.zoom-in
						img(src="./img/s-2/3.png", alt="")
				.content
					.title
						a(href="") Nâng cao sự trải nghiệm nhân sự: văn hóa, sự gần kết và hơn thế nữa
