section.block_s-4
	.container
		.block-title
			.head-title
				h2 Tính năng nổi bậc
		.block_head-menu
			.head-menu-zone
				.tab-description
					ul.tab-navigation
						li
							a(href="javascript:void(0)" data-type='akalink-home-1') GHI NHẬN VÀ & THƯỞNG NÓNG
						li.active
							a(href="javascript:void(0)" data-type='akalink-home-2') THƯ VIỆN SỐ THÔNG MINH
						li
							a(href="javascript:void(0)" data-type='akalink-home-3') GIẢI TRÍ ĐA DẠNG
		.tab-wrapper
			.tab-item.active#akalink-home-2
				.row
					.col-12.col-md-6.col-lg-6
						.item_s-4
							.background
								.img
									img(src="./img/bg-s4.png", alt="")
							.card_img
								.img
									img(src="./img/img-s4.png", alt="")
					.col-12.col-md-6.col-lg-6
						.item_s-4
							.content_s-4
								h3 Thư viện số thông minh
								ul.desc_s-4
									li
										p Dễ dàng đồng bộ với hệ thống dữ liệu có sẵn
									li
										p Thời gian tích hợp và đồng hồ bộ nhanh chóng
									li
										p Tối ưu giao diện, dễ dàng cập nhật và tìm kiếm