section.news_detail
	.container
		.row
			.col-12.col-md-8.col-lg-9
				.card-title
					h1 Giải pháp phát triển nguồn nhân lực ngành logistics Việt Nam
					.bottom-wrapper-news-detail
						time 20/08/2020
						.social-network-share
							.icon
								a(href="#")
									em.ri-facebook-fill
								a(href="#")
									em.ri-twitter-fill
				.content_news_detail
					p Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay 
					p Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay
					p Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay
				.card_img_news_detail
					.img
						img(src="./img/news-detail/1.png", alt="")
				.content_news_detail
					h2 thực trạng phát triển nguồn nhân lực ngành logistics việt nam hiện nay
					p Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay 
					p Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay
					p Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp Sân bay chuyển tiếp Sân bay chuyển tiếp Sân bay
			.col-12.col-md-4.col-lg-3
				.right-news
					.card-title-right
						h2 news & events
					.card_body
						.img 
							img(src="./img/news-detail/detail-1.png", alt="")
						.content_news_detail_right
							.date
								time 28/08/2020
							.title_news_right
								a.lcl.lcl-2(href="") Giái pháp nhân sự chuyên biệt theo từng ngành nghề
					.card_body
						.img 
							img(src="./img/news-detail/detail-2.png", alt="")
						.content_news_detail_right
							.date
								time 28/08/2020
							.title_news_right
								a.lcl.lcl-2(href="") Những lý do khiến bạn nên tìm hiểu OTT ngay hôm nay
					.card_body
						.img 
							img(src="./img/news-detail/detail-3.png", alt="")
						.content_news_detail_right
							.date
								time 28/08/2020
							.title_news_right
								a.lcl.lcl-2(href="") Quản trị nhân sự trên nền tảng công nghệ số
					.card_body
						.img 
							img(src="./img/news-detail/detail-4.png", alt="")
						.content_news_detail_right
							.date
								time 28/08/2020
							.title_news_right
								a.lcl.lcl-2(href="") IPv6 là gì? Tìm hiểu về IPv6
					.card_body
						.img 
							img(src="./img/news-detail/detail-5.png", alt="")
						.content_news_detail_right
							.date
								time 28/08/2020
							.title_news_right
								a.lcl.lcl-2(href="") TOP 10 phần mềm quản lý nhân sự tốt nhất 2020

				.right-blog
					.card-title-blog
						h2 Blog
					.card_body
						.img 
							img(src="./img/news-detail/detail-1.png", alt="")
						.content_news_detail_blog
							.date
								time 28/08/2020
							.title_news_blog
								a.lcl.lcl-2(href="") Giái pháp nhân sự chuyên biệt theo từng ngành nghề
					.card_body
						.img 
							img(src="./img/news-detail/detail-2.png", alt="")
						.content_news_detail_blog
							.date
								time 28/08/2020
							.title_news_blog
								a.lcl.lcl-2(href="") Những lý do khiến bạn nên tìm hiểu OTT ngay hôm nay
					.card_body
						.img 
							img(src="./img/news-detail/detail-3.png", alt="")
						.content_news_detail_blog
							.date
								time 28/08/2020
							.title_news_blog
								a.lcl.lcl-2(href="") Quản trị nhân sự trên nền tảng công nghệ số
					.card_body
						.img 
							img(src="./img/news-detail/detail-4.png", alt="")
						.content_news_detail_blog
							.date
								time 28/08/2020
							.title_news_blog
								a.lcl.lcl-2(href="") IPv6 là gì? Tìm hiểu về IPv6
					.card_body
						.img 
							img(src="./img/news-detail/detail-5.png", alt="")
						.content_news_detail_blog
							.date
								time 28/08/2020
							.title_news_blog
								a.lcl.lcl-2(href="") TOP 10 phần mềm quản lý nhân sự tốt nhất 2020