section.block_s-3
	.container
		.row
			.col-lg-7
				.block-title
					.head-title
						h2 Điều gì tạo nên sự gắn kết giữa nhân viên và doanh nghiệp?
				.row
					.col-lg-4
						.bg-border
							.card_img
								.img
									img(src="img/app/option-1.png", alt="")
							.card_title.block_collapse
								a(href="") Giao tiếp
								.content-s-3
									p Thấu hiểu để gắn kết nền tảng cho phép giao tiếp 2 chiều: thông tin từ doanh nghiệp và phản hồi từ nhân sự
							.btn-view-more
								a(href="") Xem thêm
									i.ri-arrow-down-s-line


