section.block_s-3
	.background
		.img
			img(src="./img/s-3/bg-s3.png", alt="")
	.container
		.row
			.col-12.col-md-7.col-lg-7
				.block-title
					.head-title
						h2 Điều gì tạo nên sự gắn kết giữa nhân viên và doanh nghiệp?
				.row
					.col-6.col-md-4.col-lg-4
						.card_s-3
							.option-img
								img(src="img/app/option-1.png", alt="")
							.title Giao tiếp
							.moretext Tích hợp với nhiều công cụ phù hợp với nhu cầu của doanh nghiệp: Công cụ chấm công, theo dõi thu nhập, đăng ký phương tiện di chuyển,…
							a.moreless-button Xem thêm
					.col-6.col-md-4.col-lg-4
						.card_s-3
							.option-img
								img(src="img/app/option-2.png", alt="")
							.title Trải nghiệm
							.moretext-2 Tích hợp với nhiều công cụ phù hợp với nhu cầu của doanh nghiệp: Công cụ chấm công, theo dõi thu nhập, đăng ký phương tiện di chuyển,…
							a.moreless-button-2 Xem thêm
					.col-6.col-md-4.col-lg-4
						.card_s-3
							.option-img
								img(src="img/app/option-3.png", alt="")
							.title Phát triển
							.moretext-3 Tích hợp với nhiều công cụ phù hợp với nhu cầu của doanh nghiệp: Công cụ chấm công, theo dõi thu nhập, đăng ký phương tiện di chuyển,…
							a.moreless-button-3 Xem thêm
			.col-12.col-md-5.col-lg-5
				.card_img
					.img
						img(src="./img/s-3/1-s3.png", alt="")

