*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Inter', sans-serif
    color: #111111
    &:focus
        outline: none !important
html
    font-size: 10px
    @media screen and ( max-width: 576px )
        font-size: 8px
main
    overflow: hidden
.container
    max-width: 1440px
@mixin center
    display: flex
    justify-content: center
    align-items: center