section.block_trial
	.container
		.block_trial-title
			.title
				h2 Bắt đầu trải nghiệm miễn phí
			.content
				p Chúng tôi đã và đang triển khai các tính năng mới để giúp bạn kết nối giữa doanh nghiệp với nhân viên một cách nhanh hơn, hiệu quả hơn bao giờ hết. Hãy thử trải nghiệm ngay hôm nay cho doanh nghiệp bạn mà không có tính thêm chi phí.
		.row
			-for(i=0;i<3;i++)
				.col-lg-4.col-md-6
					.block_card-trial
						.card_header
							.title Gói doanh nghiệp
							.price 1$
								span / người / tháng
						.card_header-content Thanh toán hàng năm
						.card_body
							.title Tính năng cung cấp
							.block_content
								ul.content
									li
										p Tin tức
									li
										p Ghi nhận
									li
										p E-shake
									li
										p Game hóa
									li
										p Sự kiện
									li
										p Khảo sát
									li
										p Miễn phí nâng cấp tính năng
							a(href="").regist Đăng kí ngay
								span.ri-arrow-right-line
section.block_contact
	.container
		.block-title
			.head-title
				h2 Liên hệ tư vấn
		.row
			.col-xl-6.col-lg-6
				.wrap-form
					.row
						.col-xl-6.col-md-6
							.form-group
								input.form-control(type='text')
								label(for='') Họ tên
						.col-xl-6.col-md-6
							.form-group
								input.form-control(type='text')
								label(for='') Email
						.col-xl-6.col-md-6
							.form-group
								input.form-control(type='text')
								label(for='') Số điện thoại
						.col-xl-6.col-md-6
							.form-group
								input.form-control(type='text')
								label(for='') Tên công ty
						.col-xl-6.col-md-6
							.form-group
								input.form-control(type='text')
								label(for='') Chức danh công việc
						.col-xl-6.col-md-6
							.form-group
								select
									option Tỉnh / Thành phố
						.col-xl-12
							.form-group
								textarea(rows='3')
								label.textarea(for='') Nội dung
					.frm-btnwrap
						.frm-btn
							input(type="submit" value ="GỬI THÔNG TIN")
			.col-xl-6.col-lg-6.df_jc-center
				.background
					.img
						img(src="./img/app/bg-shappe2.png", alt="")
				.block_img
					img(src="img/app/1.png", alt="")