section.block_application-first
	.container
		ul
			li.active
				a(href="") Ứng dụng akalink
			li
				a(href="") Hoạt động nhân sự
			li
				a(href="") Làm việc từ xa
section.block_application-app
	.container
		.row
			.col-xl-6
			.col-xl-6
				.title
					h1
						| Ứng dụng akaLink trong
						br
						| doanh nghiệp
				ul.block_collapse
					li
						.collapse
							a Văn hóa doanh nghiệp
							i.ri-arrow-down-s-line
						ul.collapse-inner
							p Vì sao cần xây dựng văn hóa doanh nghiệp?
							li
								p Rau củ quả hàng ngày
							li
								p Rau củ quả hàng ngày
					li
						.collapse
							a Ghi nhận và khen thưởng
							i.ri-arrow-down-s-line
						ul.collapse-inner
							p Vì sao cần xây dựng văn hóa doanh nghiệp?
							li
								p Rau củ quả hàng ngày
							li
								p Rau củ quả hàng ngày
					li
						.collapse
							a Bài viết với các vấn đề cụ thể
							i.ri-arrow-down-s-line
						ul.collapse-inner
							p Vì sao cần xây dựng văn hóa doanh nghiệp?
							li
								p Rau củ quả hàng ngày
							li
								p Rau củ quả hàng ngày
					li
						.collapse
							a Game hóa các hoạt động cộng đồng
							i.ri-arrow-down-s-line
						ul.collapse-inner
							p Vì sao cần xây dựng văn hóa doanh nghiệp?
							li
								p Rau củ quả hàng ngày
							li
								p Rau củ quả hàng ngày