
section.check-scroll-section.block_application-app#section-1
	.block_head-menu#header
		.container
			.head-menu-zone
				ul.link-to-about-section
					li.active
						a(href="#section-1") Ứng dụng akalink
					li
						a(href="#section-2") Hoạt động nhân sự
					li
						a(href="#section-3") Làm việc từ xa
	.container
		.row
			.col-md-6.col-xl-6.df_jc-center
				.background
					.img
						img(src="./img/app/2.png", alt="")
				.block-img
					.small-img
						img(src="img/app/small-img.png", alt="")
					.medium-img
						img(src="img/app/medium-img.png", alt="")
					.big-img
						img(src="img/app/big-img.png", alt="")
			.col-md-6.col-xl-6
				.block-title
					.head-title
						h1 Ứng dụng akaLink trong doanh nghiệp
				ul.block_collapse
					li.active
						.collapse
							a Văn hóa doanh nghiệp
							i.ri-arrow-down-s-line
						ul.collapse-inner
							p Vì sao cần xây dựng văn hóa doanh nghiệp?
							li
								p Rau củ quả hàng ngày
							li
								p Rau củ quả hàng ngày
					li
						.collapse
							a Ghi nhận và khen thưởng
							i.ri-arrow-down-s-line
						ul.collapse-inner
							p Vì sao cần xây dựng văn hóa doanh nghiệp?
							li
								p Rau củ quả hàng ngày
							li
								p Rau củ quả hàng ngày
					li
						.collapse
							a Bài viết với các vấn đề cụ thể
							i.ri-arrow-down-s-line
						ul.collapse-inner
							p Vì sao cần xây dựng văn hóa doanh nghiệp?
							li
								p Rau củ quả hàng ngày
							li
								p Rau củ quả hàng ngày
					li
						.collapse
							a Game hóa các hoạt động cộng đồng
							i.ri-arrow-down-s-line
						ul.collapse-inner
							p Vì sao cần xây dựng văn hóa doanh nghiệp?
							li
								p Rau củ quả hàng ngày
							li
								p Rau củ quả hàng ngày

section.check-scroll-section.block_personnel-activities#section-2
	.container
		.block-title
			.title
				h2 Hoạt động nhân sự
			.content
				p Daily back office operation
		.block_option
			ul
				li
					a(href="").option-img
						img(src="img/app/option-1.png", alt="")
					.content
						p Vấn đề
				li
					a(href="").option-img
						img(src="img/app/option-2.png", alt="")
					.content
						p Giải pháp
				li
					a(href="").option-img
						img(src="img/app/option-3.png", alt="")
					.content
						p Lợi ích
		.row
			.col-xl-1
			.col-md-6.col-xl-5
				.block_content
					h3 Những vấn đề nhức nhối nhất của bộ phận nhân sự
					ul.content
						li
							p Quản lý dữ liệu đồ sộ về nhân viên, hợp đồng lao động, bảo hiểm và rất nhiều tài liệu khác
						li
							p Truy cập dữ liệu tốn nhiều thời gian
						li
							p Nhân sự đòi hỏi được hỗ trợ về rất nhiều vấn đề khác nhau
			.col-md-6.col-xl-5.df_jc-center
				.background
					.img
						img(src="./img/app/bg-shappe2.png", alt="")
				.block_img
					img(src="img/app/1.png", alt="")


section.check-scroll-section.block_remote-working#section-3
	.container
		.block-title
			.title
				h2 Làm việc từ xa
			.content
				p Remote working
		.block_option
			ul
				li
					a(href="").option-img
						img(src="img/app/option-1.png", alt="")
					.content
						p Vấn đề
				li
					a(href="").option-img
						img(src="img/app/option-2.png", alt="")
					.content
						p Giải pháp
				li
					a(href="").option-img
						img(src="img/app/option-3.png", alt="")
					.content
						p Lợi ích
		.row
			.col-xl-1
			.col-md-6.col-xl-5.df_jc-center
				.background
					.img
						img(src="./img/app/bg-shappe1.png", alt="")
				.block_img
					img(src="img/app/1.png", alt="")
			.col-md-6.col-xl-5
				.block_content
					h3 Những vấn đề dễ gặp phải
					ul.content
						li
							p Khó theo dõi công việc 
						li
							p Hạn chế trong giao tiếp
						li
							p Thiếu tính tương tác và kết nối