section.block_feature-header
	.container
		.scroll-swiper-wrapper
			.nav-arrow-prev
				em.material-icons keyboard_arrow_left
			.nav-arrow-next
				em.material-icons keyboard_arrow_right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.block_feature-first
							a(href="#section-1") Ghi nhận đóng góp
					.swiper-slide
						.block_feature-first
							a(href="#section-2") E-shake
					.swiper-slide
						.block_feature-first
							a(href="#section-3") Tin tức mới nhất
					.swiper-slide
						.block_feature-first
							a(href="#section-4") Tích lũy điểm thưởng
					.swiper-slide
						.block_feature-first
							a(href="#section-5") Game hóa hoạt động
					.swiper-slide
						.block_feature-first
							a(href="#section-6") Sự kiện & Khảo sát
					.swiper-slide
						.block_feature-first
							a(href="#section-7") Tích hợp
					.swiper-slide
						.block_feature-first
							a(href="#section-8") Tích hợp nhiều công cụ
					.swiper-slide
						.block_feature-first
							a(href="#section-9") Nắm bắt thông tin
					.swiper-slide
						.block_feature-first
							a(href="#section-10") Phát triển nghề nghiệp


section.block_feature-1
	.container
		.row#section-1
			.col-md-6.col-xl-6
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/s-1/1.png", alt="")
						.caption
							.icon
								img(src="./img/feature/play-media.png", alt="")
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h1 Ghi nhận đóng góp
					.block_content
						ul.content
							li
								p Xây dựng văn hóa tôn vinh là không thể thiếu để tạo dựng sự gắn bó lâu dài giữa nhân sự và doanh nghiệp.
							li
								p Hãy để nhân sự của bạn biết rằng, mọi sự đóng góp của họ đều được ghi nhận và trân trọng.
							li
								p Gửi huy hiệu cảm ơn là cách đơn giản và cẩn thiết nhất với mỗi đóng góp của cá nhân và tập thể.
							li
								p Các quản lý có thể ngay lập tức “thưởng nóng” cho các cá nhân hoặc tập thể có thành tích xuất sắc.
							li
								p Một email sẽ được tạo tự động để thông báo đến người được nhận thưởng như một cách trang trọng để ghi nhận đóng góp.


section.block_feature-2
	.container
		.row#section-2
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 E-shake
					.block_content
						ul.content
							li
								p Phản hồi thông tin qua E-shake
							li
								p Phản hồi tức thì cho nhân viên
							li
								p Phản hồi / Theo dõi nhiệm vụ sau cuộc họp
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/feature/bg-img-1.png", alt="")
						.phone
							img(src="./img/feature/phone-2.png", alt="")
							.media
								a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=DpBWUv_91ho')
									img(src="./img/feature/play-media.png", alt="")
					.block_img
						img(src="img/feature/img-1.png", alt="")
		.row#section-3
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Tin tức mới nhất
					.block_content
						p Bản tin nội bộ cho phép thông tin được nhanh chóng gửi đi. Nhân viên dù ở bất cứ đâu cũng có thể:
						ul.content
							li
								p Cập nhật thông tin dễ dàng
							li
								p Tương tác và bày tỏ cảm xúc với bài viết
							li
								p Bình luận, trao đổi ý kiến cá nhân
						p Với những người quản trị nhân sự, đây là cách để “lắng nghe” và thấu hiểu thông qua đo lường tương tác.
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/app/bg-shappe2.png", alt="")
						.phone
							img(src="./img/feature/phone-1.png", alt="")
					.block_img
						img(src="img/feature/img-2.png", alt="")
		.row#section-4
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Tích lũy điểm thưởng
					.block_content
						p Liên kết với ứng dụng Utop đổi điểm giúp nhân viên sử dụng các điểm khen thưởng để mua các sản phẩm, dịch vụ từ các nhà cung cấp khác nhau
						
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/feature/bg-img-3.png", alt="")
						.phone
							img(src="./img/feature/phone-3.png", alt="")
					.block_img
						img(src="img/feature/img-3.png", alt="")

section.block_feature-3
	.container
		.row#section-5
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Game hóa hoạt động
					.block_content
						p Không gì giúp kết nối tốt hơn là những hoạt động vừa vui, vừa có thưởng. Các hoạt động nôi bộ được Game-hóa và thiết kế phù hợp với từng doanh nghiệp:
						ul.content
							li
								p Khéo léo đưa đến thông tin về chuyên môn và chính sách doanh nghiệp
							li
								p Tăng cường giao lưu và kết nối
							li
								p Trò chơi hóa các chương trình đào tạo, các chính sách mới ban hành. Giúp
							li
								p Nhân viên tích cực hơn trong việc tiếp nhận thông tin
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/feature/bg-img-1.png", alt="")
						.phone
							img(src="./img/feature/phone-4.png", alt="")
					.block_img
						img(src="./img/app/big-img.png", alt="")
		.row#section-6
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Sự kiện & khảo sát
					.block_content
						p Khảo sát, thu thập ý kiến nhân viên. Đánh giá chất lượng dịch vụ.
						p Đăng ký, lập danh sách sự kiện sắp diễn ra (lớp tập huấn, chương trình offline). Hỗ trợ điểm danh, đóng góp và đánh giá sự kiện
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/app/bg-shappe2.png", alt="")
						.phone
							img(src="./img/feature/phone-5.png", alt="")
					.block_img
						img(src="img/app/1.png", alt="")
		.row#section-7
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Tích hợp
					.block_content
						p Tích hợp với nhiều công cụ phù hợp với nhu cầu của doanh nghiệp: Công cụ chấm công, theo dõi thu nhập, đăng ký phương tiện di chuyển,…
						p LoveFPT
						p Chương trình giúp nhân viên hưởng các ưu đãi từ sản phẩm nội bộ. Tri ân các CBCNV có thâm niên làm việc lâu năm.
						p Refer your friend
						p Chương trình thúc đẩy bán hàng, mỗi nhân viên là một người bán hàng
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/feature/bg-img-3.png", alt="")
					.block_img.overlow-none
						img(src="./img/feature/1.png", alt="")


section.block_feature-4
	.container
		.row#section-8
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Tích hợp nhiều công cụ
					.block_content
						p Quản lý thời gian: 
						ul.content
							li
								p Quản lý thời gian cá nhân
						p Đặt lịch phòng họp:
						ul.content
							li
								p Sử dụng akaLink để kiểm tra tình trạng phòng họp
							li
								p Gửi yêu cầu họp đến tất cả những người tham gia
						p Điểm danh:
						ul.content
							li
								p Nhân viên điểm danh để làm căn cứ tính lương
							li
								p Sử dụng akaLink để điểm danh trên xe buýt của công ty
							li
								p Điểm danh tham dự sự kiện
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/feature/bg-img-3.png", alt="")
					.block_img.overlow-none
						img(src="./img/feature/1.png", alt="")
		.row#section-9
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Nắm bắt thông tin
					.block_content
						p Không còn mất thời gian tìm kiếm tài liệu từ từng người phụ trách, thư viện tài liệu cho phép nhân sự truy cập thông tin nhanh chóng:
						ul.content
							li
								p Quản lý thông tin cá nhân
							li
								p Tìm kiếm thông tin doanh nghiệp
							li
								p Tìm hiểu đồng nghiệp để thuận tiện hơn trong việc trao đổi và hợp tác
						p Hơn hết, toàn bộ hệ thống thư viện có thể được cập nhật và “làm mới” chỉ trong vài phút
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/app/bg-shappe2.png", alt="")
						.phone
							img(src="./img/feature/phone-3.png", alt="")
					.block_img
						img(src="img/feature/img-4.png", alt="")
		.row#section-10
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Phát triển nghề nghiệp
					.block_content
						p Tại các doanh nghiệp thành công, nhân sự luôn luôn được khuyến khích không ngừng phát triển. Vậy tại sao không làm điều đó ngay trên ứng dụng gắn kết nhân sự?
						ul.content
							li
								p Tích hợp công cụ đánh giá hiệu quả công việc
							li
								p Thông tin chương trình đào tạo
							li
								p Cơ hội nghệ nghiệp và thăng tiến
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/feature/bg-img-3.png", alt="")
						.phone
							img(src="./img/feature/phone-3.png", alt="")
					.block_img
						img(src="img/feature/img-5.png", alt="")