section.block_feature-header
	.container
		.block_feature-first
			ul
				li.active
					a(href="") Ghi nhận đóng góp
				li
					a(href="") E-shake
				li
					a(href="") Tin tức mới nhất
				li
					a(href="") Tích lũy điểm thưởng
				li
					a(href="") Game hóa hoạt động
				li
					a(href="") Sự kiện & Khảo sát
				li
					a(href="") Tích hợp
				li
					a(href="") Nắm bắt thông tin
				li
					a(href="") Phát triển nghề nghiệp


section.block_feature-1#section-feature-1
	.container
		.row
			.col-md-6.col-xl-6
				.background
					.img
						img(src="./img/feature/bg-img-2.png", alt="")
					.phone
						img(src="./img/feature/1.png", alt="")
						.media
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/feature/play-media.png", alt="")
				.block_img
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h1 Ghi nhận đóng góp
					.block_content
						ul.content
							li
								p Xây dựng văn hóa tôn vinh là không thể thiếu để tạo dựng sự gắn bó lâu dài giữa nhân sự và doanh nghiệp.
							li
								p Hãy để nhân sự của bạn biết rằng, mọi sự đóng góp của họ đều được ghi nhận và trân trọng.
							li
								p Gửi huy hiệu cảm ơn là cách đơn giản và cẩn thiết nhất với mỗi đóng góp của cá nhân và tập thể.
							li
								p Các quản lý có thể ngay lập tức “thưởng nóng” cho các cá nhân hoặc tập thể có thành tích xuất sắc.
							li
								p Một email sẽ được tạo tự động để thông báo đến người được nhận thưởng như một cách trang trọng để ghi nhận đóng góp.


section.block_feature-2
	.container
		.row
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 E-shake
					.block_content
						ul.content
							li
								p Phản hồi thông tin qua E-shake
							li
								p Phản hồi tức thì cho nhân viên
							li
								p Phản hồi / Theo dõi nhiệm vụ sau cuộc họp
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/feature/bg-img-1.png", alt="")
						.phone
							img(src="./img/feature/phone-1.png", alt="")
							.media
								a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=DpBWUv_91ho')
									img(src="./img/feature/play-media.png", alt="")
					.block_img
						img(src="img/feature/img-1.png", alt="")
		.row
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Tin tức mới nhất
					.block_content
						p Bản tin nội bộ cho phép thông tin được nhanh chóng gửi đi. Nhân viên dù ở bất cứ đâu cũng có thể:
						ul.content
							li
								p Cập nhật thông tin dễ dàng
							li
								p Tương tác và bày tỏ cảm xúc với bài viết
							li
								p Bình luận, trao đổi ý kiến cá nhân
						p Với những người quản trị nhân sự, đây là cách để “lắng nghe” và thấu hiểu thông qua đo lường tương tác.
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/app/bg-shappe2.png", alt="")
						.phone
							img(src="./img/feature/phone-1.png", alt="")
					.block_img
						img(src="img/feature/img-2.png", alt="")
		.row
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Tích lũy điểm thưởng
					.block_content
						p Liên kết với ứng dụng Utop đổi điểm giúp nhân viên sử dụng các điểm khen thưởng để mua các sản phẩm, dịch vụ từ các nhà cung cấp khác nhau
						ul.content
							li
								p Phản hồi thông tin qua E-shake
							li
								p Phản hồi tức thì cho nhân viên
							li
								p Phản hồi / Theo dõi nhiệm vụ sau cuộc họp
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/feature/bg-img-3.png", alt="")
						.phone
							img(src="./img/feature/phone-1.png", alt="")
					.block_img
						img(src="img/feature/img-3.png", alt="")


section.block_feature-3
	.container
		.row
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 E-shake
					.block_content
						ul.content
							li
								p Phản hồi thông tin qua E-shake
							li
								p Phản hồi tức thì cho nhân viên
							li
								p Phản hồi / Theo dõi nhiệm vụ sau cuộc họp
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/feature/bg-img-1.png", alt="")
						.phone
							img(src="./img/feature/phone-1.png", alt="")
					.block_img
						img(src="img/feature/img-1.png", alt="")
		.row
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Tin tức mới nhất
					.block_content
						p Bản tin nội bộ cho phép thông tin được nhanh chóng gửi đi. Nhân viên dù ở bất cứ đâu cũng có thể:
						ul.content
							li
								p Cập nhật thông tin dễ dàng
							li
								p Tương tác và bày tỏ cảm xúc với bài viết
							li
								p Bình luận, trao đổi ý kiến cá nhân
						p Với những người quản trị nhân sự, đây là cách để “lắng nghe” và thấu hiểu thông qua đo lường tương tác.
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/app/bg-shappe2.png", alt="")
						.phone
							img(src="./img/feature/phone-1.png", alt="")
					.block_img
						img(src="img/feature/img-2.png", alt="")
		.row
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Tích lũy điểm thưởng
					.block_content
						p Liên kết với ứng dụng Utop đổi điểm giúp nhân viên sử dụng các điểm khen thưởng để mua các sản phẩm, dịch vụ từ các nhà cung cấp khác nhau
						ul.content
							li
								p Phản hồi thông tin qua E-shake
							li
								p Phản hồi tức thì cho nhân viên
							li
								p Phản hồi / Theo dõi nhiệm vụ sau cuộc họp
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/feature/bg-img-3.png", alt="")
						.phone
							img(src="./img/feature/phone-1.png", alt="")
					.block_img
						img(src="img/feature/img-3.png", alt="")


section.block_feature-4
	.container
		.row
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 E-shake
					.block_content
						ul.content
							li
								p Phản hồi thông tin qua E-shake
							li
								p Phản hồi tức thì cho nhân viên
							li
								p Phản hồi / Theo dõi nhiệm vụ sau cuộc họp
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/feature/bg-img-1.png", alt="")
						.phone
							img(src="./img/feature/phone-1.png", alt="")
					.block_img
						img(src="img/feature/img-1.png", alt="")

		.row
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Tin tức mới nhất
					.block_content
						p Bản tin nội bộ cho phép thông tin được nhanh chóng gửi đi. Nhân viên dù ở bất cứ đâu cũng có thể:
						ul.content
							li
								p Cập nhật thông tin dễ dàng
							li
								p Tương tác và bày tỏ cảm xúc với bài viết
							li
								p Bình luận, trao đổi ý kiến cá nhân
						p Với những người quản trị nhân sự, đây là cách để “lắng nghe” và thấu hiểu thông qua đo lường tương tác.
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/app/bg-shappe2.png", alt="")
						.phone
							img(src="./img/feature/phone-1.png", alt="")
					.block_img
						img(src="img/feature/img-2.png", alt="")
		.row
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h2 Tích lũy điểm thưởng
					.block_content
						p Liên kết với ứng dụng Utop đổi điểm giúp nhân viên sử dụng các điểm khen thưởng để mua các sản phẩm, dịch vụ từ các nhà cung cấp khác nhau
						ul.content
							li
								p Phản hồi thông tin qua E-shake
							li
								p Phản hồi tức thì cho nhân viên
							li
								p Phản hồi / Theo dõi nhiệm vụ sau cuộc họp
			.col-md-6.col-xl-6
				.item-img
					.background
						.img
							img(src="./img/feature/bg-img-3.png", alt="")
						.phone
							img(src="./img/feature/phone-1.png", alt="")
					.block_img
						img(src="img/feature/img-3.png", alt="")