section.block_news-list
	.container
		.row
			.col-12.col-md-12.col-lg-6
				a(href="news-detail.html")
					.big_img_news-list
						.img.shine
							img(src="./img/news/new-1.png", alt="")
				.card_body
					.content_news-list
						.date
							time 20.08.2020
						.card_title_news-list
							a(href="news-detail.html") Quản lý nhân sự dụng hiệu quả với akalink
						.card_title_zone_news-list
							p Nền tảng tăng cường gắn kết nội bộ dành cho doanh nghiệp, sử dụng trên thiết bị di động. akaLink giúp khuyến khích nhân viên của bạn tăng năng suất và hiệu quả làm việc, phát triển môi trường làm việc chuyên nghiệp thông qua các chức năng
			.col-lg-6
				.row
					.col-12.col-md-6.col-lg-6
						.new-img
							a(href="news-detail.html")
								.img.shine
									img(src="./img/news/new-2.png", alt="")
							.content-food-news
								.date
									time 01/06/2020
								.caption
									a(href="news-detail.html") Quản lý nhân sự sử dụng hiệu quả akaLink
					.col-12.col-md-6.col-lg-6
						.new-img
							a(href="news-detail.html")
								.img.shine
									img(src="./img/news/new-3.png", alt="")
							.content-food-news
								.date
									time 01/06/2020
								.caption
									a(href="news-detail.html") Giải pháp nhân sự chuyên biệt theo từng ngành nghề
					.col-12.col-md-6.col-lg-6
						.new-img
							a(href="news-detail.html")
								.img.shine
									img(src="./img/news/new-4.png", alt="")
							.content-food-news
								.date
									time 01/06/2020
								.caption
									a(href="news-detail.html") TOP 10 phần mềm quản lý nhân sự tốt nhất 2020
					.col-12.col-md-6.col-lg-6
						.new-img
							a(href="news-detail.html")
								.img.shine
									img(src="./img/news/new-5.png", alt="")
							.content-food-news
								.date
									time 01/06/2020
								.caption
									a(href="news-detail.html") Quản trị nhân sự trên nền tảng công nghệ số

		.row
			.col-12.col-md-8.col-lg-9
				.small-news
					a(href="news-detail.html")
						.card_img
							.img.shine
								img(src="./img/news/new-6.png", alt="")
					.content-small
						.date
							time 28.02.2020
						.card_title
							a(href="news-detail.html") Giái pháp nhân sự chuyên biệt theo từng ngành nghề
						.card_title_zone
							p Nền tảng tăng cường gắn kết nội bộ dành cho doanh nghiệp, sử dụng trên thiết bị di động akalink giúp khuyến khích nhân viên của bạn tăng năng suất và hiệu quả làm việc, phát triển làm việc chuyên nghiệp thông qua các chức năng
				.small-news
					a(href="news-detail.html")
						.card_img
							.img.shine
								img(src="./img/news/new-7.png", alt="")
					.content-small
						.date
							time 28.02.2020
						.card_title
							a(href="news-detail.html") Giái pháp nhân sự chuyên biệt theo từng ngành nghề
						.card_title_zone
							p Nền tảng tăng cường gắn kết nội bộ dành cho doanh nghiệp, sử dụng trên thiết bị di động akalink giúp khuyến khích nhân viên của bạn tăng năng suất và hiệu quả làm việc, phát triển làm việc chuyên nghiệp thông qua các chức năng
				.small-news
					a(href="news-detail.html")
						.card_img
							.img.shine
								img(src="./img/news/new-8.png", alt="")
					.content-small
						.date
							time 28.02.2020
						.card_title
							a(href="news-detail.html") Giái pháp nhân sự chuyên biệt theo từng ngành nghề
						.card_title_zone
							p Nền tảng tăng cường gắn kết nội bộ dành cho doanh nghiệp, sử dụng trên thiết bị di động akalink giúp khuyến khích nhân viên của bạn tăng năng suất và hiệu quả làm việc, phát triển làm việc chuyên nghiệp thông qua các chức năng
				.small-news
					a(href="news-detail.html")
						.card_img
							.img.shine
								img(src="./img/news/new-6.png", alt="")
					.content-small
						.date
							time 28.02.2020
						.card_title
							a(href="news-detail.html") Giái pháp nhân sự chuyên biệt theo từng ngành nghề
						.card_title_zone
							p Nền tảng tăng cường gắn kết nội bộ dành cho doanh nghiệp, sử dụng trên thiết bị di động akalink giúp khuyến khích nhân viên của bạn tăng năng suất và hiệu quả làm việc, phát triển làm việc chuyên nghiệp thông qua các chức năng
				.small-news
					a(href="news-detail.html")
						.card_img
							.img.shine
								img(src="./img/news/new-7.png", alt="")
					.content-small
						.date
							time 28.02.2020
						.card_title
							a(href="news-detail.html") Giái pháp nhân sự chuyên biệt theo từng ngành nghề
						.card_title_zone
							p Nền tảng tăng cường gắn kết nội bộ dành cho doanh nghiệp, sử dụng trên thiết bị di động akalink giúp khuyến khích nhân viên của bạn tăng năng suất và hiệu quả làm việc, phát triển làm việc chuyên nghiệp thông qua các chức năng
				.small-news
					a(href="news-detail.html")
						.card_img
							.img.shine
								img(src="./img/news/new-8.png", alt="")
					.content-small
						.date
							time 28.02.2020
						.card_title
							a(href="news-detail.html") Giái pháp nhân sự chuyên biệt theo từng ngành nghề
						.card_title_zone
							p Nền tảng tăng cường gắn kết nội bộ dành cho doanh nghiệp, sử dụng trên thiết bị di động akalink giúp khuyến khích nhân viên của bạn tăng năng suất và hiệu quả làm việc, phát triển làm việc chuyên nghiệp thông qua các chức năng

			.col-12.col-md-4.col-lg-3
				.news-list-swiper-wrapper
					.swiper-container.slide-news
						.swiper-wrapper
							.swiper-slide
								.card-body
									.img
										img(src="./img/news/slide1.png", alt="")
								.content-slide
									.title-slide
										a(href="") Data Collection Plan
							.swiper-slide
								.card-body
									.img
										img(src="./img/news/slide1.png", alt="")
								.content-slide
									.title-slide
										a(href="") Data Collection Plan
							.swiper-slide
								.card-body
									.img
										img(src="./img/news/slide1.png", alt="")
								.content-slide
									.title-slide
										a(href="") Data Collection Plan
						.swiper-pagination.news-pagination
						.icon-slide
							ul
								li
									em.ri-arrow-down-fill
								li
									em.ri-share-fill
				.right_img
					.img
						img(src="./img/news/right-1.png", alt="")

