section.block_top-banner-app
	.container-fuild
		.bannertop-img
			.img
				img(src="./img/app/banner.png", alt="")
			.iteam-bannertop
				.content_banner
					h3 Vì sao cần xây dựng văn hóa doanh nghiệp?
					ul.desc_banner
						li
							p Tạo môi trường làm việc tích cực
						li
							p Tạo động lực việc làm và phát triển
						li
							p Thúc đẩy nâng cao chất lượng công việc