section.home-banner
	.container-fuild
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						a
							img(src="./img/banner/banner-1.png", alt="")
					.caption
						h2.title-caption Công nghệ, Nhân sự
							|
							.title-caption &Doanh nghiệp
						.text Công nghệ số đã đem lại những chuyển biến đẩy mạnh mẽ xong xu hướng quản trị nhân sự 4.0. Tạo dựng đội ngũ nhân sự chuyên nghiệp gắn kết chính là
						.btn-view
							a(href="") bắt đầu trải nghiệm
								em.ri-arrow-right-line
				//- .swiper-slide
				//- 	.wrapper
				//- 		a
				//- 			img(src="./img/banner/banner-1.png", alt="")
				//- 	.caption
				//- 		h2.title-caption Công nghệ, Nhân sự
				//- 		.text Công nghệ số đã đem lại những chuyển biến đẩy mạnh mẽ xong xu hướng quản trị nhân sự 4.0.
				//- 		.btn-view
				//- 			a(href="") bắt đầu trải nghiệm
				//- 				em.ri-arrow-right-line
				//- .swiper-slide
				//- 	.wrapper
				//- 		a
				//- 			img(src="./img/banner/banner-1.png", alt="")
				//- 	.caption
				//- 		h2.title-caption Công nghệ, Nhân sự
				//- 		.text Công nghệ số đã đem lại những chuyển biến đẩy mạnh mẽ xong xu hướng quản trị nhân sự 4.0.
				//- 		.btn-view
				//- 			a(href="") bắt đầu trải nghiệm
				//- 				em.ri-arrow-right-line
			.swiper-pagination.home-banner-pagination