section.block_s-1
	.container
		.row
			.col-md-6.col-xl-6
				.big-item
					.block-title
						.head-title
							h1 akaLink Engage Smarter, Work Better
					.content
						p Ứng dụng nâng cao sự gắn kết trong nội bộ doanh nghiệp, thiết lập sự phát triển đồng bộ từ lãnh đạo quản lý cấp cao đến đội ngũ nhân viên, khuyến khích văn hóa đánh giá - ghi nhận - phản hồi liên tục để cãi thiện năng lực nhân sự, đồng thời thay đổi toàn diện trải nghiệm công việc.
					.btn-view
						em.ri-arrow-right-line
						a(href="") Xem demo

			.col-md-6.col-xl-6
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/s-1/1.png", alt="")
						.caption
							.icon
								img(src="./img/feature/play-media.png", alt="")
					
				