section.block_top-banner-2
	.container-fuild
		.bannertop-img
			.img
				img(src="./img/news/banner-news-1.jpg", alt="")
			.iteam-bannertop
				.content_banner
					h3 News & Events
					ul.desc_banner
						li
							p Tạo môi trường làm việc tích cực
						li
							p Tạo động lực việc làm và phát triển
						li
							p Thúc đẩy nâng cao chất lượng công việc