section.block_s-7
	.container
		.block-title
			.head-title
				h2 Tin tức - Sự kiện
		.row
			.col-12.col-md-6.col-lg-3
				.border-box
					.card_img
						.img
							img(src="./img/s-7/1.png", alt="")
					.big-content
						.desc
							ul
								li
									.blog
										a(href="") Blog
								li
									.date
										time 20.28.2020
						.title
							a(href="") Quản trị nhân sự trên nền tảng công nghệ số
			.col-12.col-md-6.col-lg-3
				.border-box
					.card_img
						.img
							img(src="./img/s-7/2.png", alt="")
					.big-content
						.desc
							ul
								li
									.success
										a(href="") Success stories
								li
									.date
										time 20.28.2020
						.title
							a(href="") Quản trị nhân sự dụng hiệu quả với akalink
			.col-12.col-md-6.col-lg-3
				.border-box
					.card_img
						.img
							img(src="./img/s-7/3.png", alt="")
					.big-content
						.desc
							ul
								li
									.blog
										a(href="") Blog
								li
									.date
										time 20.28.2020
						.title
							a(href="") Giải pháp nhân sự chuyên biệt theo từng ngành nghề
			.col-12.col-md-6.col-lg-3
				.border-box
					.card_img
						.img
							img(src="./img/s-7/4.png", alt="")
					.big-content
						.desc
							ul
								li
									.news
										a(href="") News & Events
								li
									.date
										time 20.28.2020
						.title
							a(href="") TOP 10 phần mềm nhân sự quản lí tốt nhất 2020

		