section.block_top-banner
	.container-fuild
		.bannertop-img
			.img
				img(src="./img/banner_top/banner.png", alt="")
			.iteam-bannertop
				.caption-banner 
					h2 Dễ dàng tích hợp nhiều công cụ
				.text-banner
					p Tích hợp với nhiều dụng cụ phù hợp với nhu cầu kinh doanh nghiệp:Công cụ chấm công, theo dõi thu nhập, đăng ký phương tiện di chuy