section.block_top-banner
	.container-fuild
		.bannertop-img
			.img
				img(src="./img/banner_top/banner.png", alt="")
			.iteam-bannertop
				.content_banner
					h3 Dễ dàng tích hợp nhiều công cụ
					ul.desc_banner
						li
							p Tạo môi trường làm việc tích cực
						li
							p Tạo động lực việc làm và phát triển
						li
							p Thúc đẩy nâng cao chất lượng công việc